apiVersion: v1
kind: Secret
metadata:
  name: {{ ztp_cluster_name | default('ztp-sno', true) }}-bmc-credentials
data:
  password: {{ ztp_bmc_password | default('admin', true) | b64encode }}
  username: {{ ztp_bmc_username | default('admin', true) | b64encode }}
