apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- {{ ztp_cluster_name | default('ztp-sno', true) }}-bmc-credentials.yml
- {{ ztp_cluster_name | default('ztp-sno', true) }}-pull-secret.yml
generators:
- {{ ztp_cluster_name | default('ztp-sno', true) }}.yml
