---
apiVersion: ran.openshift.io/v1
kind: SiteConfig
metadata:
  name: {{ ztp_cluster_name | default('ztp-sno', true) | quote }}
  namespace: {{ ztp_cluster_name | default('ztp-sno', true) | quote }}
spec:
  baseDomain: {{ ztp_cluster_domain | default('ocpdemo.labs', true) | quote }}
  pullSecretRef:
    name: "assisted-deployment-pull-secret"
  clusterImageSetNameRef: "openshift-4.11"
  sshPublicKey: {{ ztp_node_ssh_key | quote }}
  clusters:
  - clusterName: {{ ztp_cluster_name | default('ztp-sno', true) | quote }}
    networkType: "OVNKubernetes"
    clusterLabels:
      common: true
      group-du-sno: ""
      sites : {{ ztp_cluster_name | default('ztp-sno', true) | quote }}
    clusterNetwork:
      - cidr: 10.128.0.0/14
        hostPrefix: 23
    serviceNetwork:
      - 172.30.0.0/16
    nodes:
      - hostName: "{{ ztp_node_name | default('ztp-sno', true) }}.{{ ztp_cluster_domain | default('ocpdemo.labs', true) }}"
        role: "master"
        bmcAddress: "redfish-virtualmedia+http://192.168.100.1:8000/redfish/v1/Systems/{{ node_uuid }}"
        bmcCredentialsName:
          name: "baremetal-creds"
        bootMACAddress: {{ ztp_node_mac_address | default(node_mac, true) }}
        bootMode: "UEFI"
        rootDeviceHints:
          wwn: "0x11111000000asd123"
        cpuset: "0-1,52-53"
        nodeNetwork:
          interfaces:
            - name: enp3s0
              macAddress: {{ ztp_node_mac_address | default(node_mac, true) }}
          config:
            interfaces:
              - name: enp3s0
                type: ethernet
                state: up
                ipv4:
                  enabled: true
                  dhcp: false
                  address:
                    - ip: {{ ztp_node_ip | default('192.168.210.7', true) }}
                      prefix-length: 32
                  auto-dns: true
                  auto-gateway: true
                  auto-routes: true
                ipv6:
                  enabled: false