---
apiVersion: ran.openshift.io/v1
kind: SiteConfig
metadata:
  name: {{ ztp_cluster_name | default('ztp-sno', true) | quote }}
  namespace: {{ ztp_cluster_name | default('ztp-sno', true) | quote }}
spec:
  baseDomain: {{ ztp_cluster_domain | default('ocpdemo.labs', true) | quote }}
  pullSecretRef:
    name: "assisted-deployment-pull-secret"
  clusterImageSetNameRef: "openshift-4.11"
  sshPublicKey: {{ ztp_node_ssh_key | quote }}
  clusters:
  - clusterName: {{ ztp_cluster_name | default('ztp-sno', true) | quote }}
    networkType: "OVNKubernetes"
    clusterLabels:
      sites : {{ ztp_cluster_name | default('ztp-sno', true) | quote }}
    clusterNetwork:
      - cidr: 10.128.0.0/14
        hostPrefix: 23
    serviceNetwork:
      - 172.30.0.0/16
    additionalNTPSources:
      - time.google.com
      - time1.google.com
      - time2.google.com
    crTemplates:
      KlusterletAddonConfig: "KlusterletAddonConfig.yaml"
    nodes:
      - hostName: "{{ ztp_node_name | default('ztp-sno', true) }}"
        role: "master"
        bmcAddress: "redfish-virtualmedia+http://192.168.100.1:8000/redfish/v1/Systems/{{ node_uuid }}"
        bmcCredentialsName:
          name: "baremetal-creds"
        bootMACAddress: {{ ztp_node_mac_address | default(node_mac, true) }}
        bootMode: "UEFI"
        nodeNetwork:
          interfaces:
            - name: enp1s0
              macAddress: {{ ztp_node_mac_address | default(node_mac, true) }}
          config:
            interfaces:
              - name: enp1s0
                type: ethernet
                state: up
                ipv4:
                  enabled: true
                  dhcp: false
                  address:
                    - ip: {{ ztp_node_ip | default('192.168.210.7', true) }}
                      prefix-length: 32
                ipv6:
                  enabled: false
            dns-resolver:
              config:
                server:
                - {{ ztp_network_cidr | default('192.168.210.0/24', true) | ansible.utils.ipaddr('next_usable') }}
            routes:
              config:
              - destination: 0.0.0.0/0
                next-hop-interface: enp1s0
                next-hop-address: {{ ztp_network_cidr | default('192.168.210.0/24', true) | ansible.utils.ipaddr('next_usable') }}
                table-id: 254
